.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
button {
  border: none;
  color: #ffffff;
  background-color: #f26ff6;
}
button:hover {
  background-color: #f741fd;
}
button:active {
  background-color: #f741fd;
  -webkit-box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0 0 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.open-modal-btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  z-index: 0;
}
.overlay {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #8c8c8c;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -60px;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 30%;
  width: 20%;
  min-height: 200px;
  min-width: 250px;
  border-radius: 20px;
  background-color: #fff;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.buttons button {
  width: 70px;
  height: 30px;
  border-radius: 15px;
}